Repository INF-Project-D/WerkZe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stijnvdkolk, @Omajan1, @DonnaVolk, @Levidevtech, @noelhermanss

.github/CODEOWNERS:

* @stijnvdkolk

/backend @stijnvdkolk @Omajan1

/frontend @stijnvdkolk @DonnaVolk @Levidevtech @noelhermanss @Omajan1

/tools @stijnvdkolk

/docker @stijnvdkolk

/docs @stijnvdkolk

feat(backend): init backend
  backend/.eslintrc.js
  backend/.gitignore
  backend/.gitkeep
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/yarn.lock
Owners: @stijnvdkolk, @Omajan1

feat(frontend): init frontend
  frontend/.editorconfig
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.gitkeep
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/README.md
  frontend/components/NuxtLogo.vue
  frontend/components/Tutorial.vue
  frontend/nuxt.config.js
  frontend/package.json
  frontend/pages/index.vue
  frontend/static/favicon.ico
  frontend/store/README.md
  frontend/tsconfig.json
  frontend/yarn.lock
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

Create settings.json
  .vscode/settings.json
Owners: @stijnvdkolk

63 miljard
  frontend/.eslintrc.js
  frontend/README.md
  frontend/assets/variables.scss
  frontend/components/VuetifyLogo.vue
  frontend/layouts/default.vue
  frontend/layouts/error.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/index.vue
  frontend/pages/inspire.vue
  frontend/static/v.png
  frontend/static/vuetify-logo.svg
  frontend/yarn.lock
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

frontend accountpage
  frontend/Images/Avatar.png
  frontend/layouts/default.vue
  frontend/layouts/error.vue
  frontend/nuxt.config.js
  frontend/pages/account.vue
  frontend/pages/home.vue
  frontend/pages/inspire.vue
  frontend/pages/notifications.vue
  frontend/pages/recommended.vue
  package-lock.json
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

Login, Signup en wachtwoord vergeten toegevoegd
  frontend/layouts/default.vue
  frontend/pages/forgot_password.vue
  frontend/pages/login.vue
  frontend/pages/signup.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

Added auth
  frontend/layouts/default.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/login.vue
  frontend/store/index.js
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

joe
  frontend/package-lock.json
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

package
  frontend/package-lock.json
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

home
  frontend/pages/home.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

package change
  frontend/package-lock.json
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

feat: init docker and tools
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/docker-in-docker-debian.sh
  .env.example
  Makefile
  backend/Dockerfile
  backend/package.json
  docker/backend/docker-compose.yml
  docker/database/docker-compose.yml
  docker/database/postgres-init.sql
  docker/frontend/docker-compose.yml
  docker/staging/docker-compose.yml
  docker/staging/postgres-init.sql
  frontend/Dockerfile
  tools/scripts/compose-db.sh
  tools/scripts/compose-dev-min.sh
  tools/scripts/compose-dev.sh
  tools/scripts/compose-staging.sh
Owners: @stijnvdkolk, @Omajan1, @DonnaVolk, @Levidevtech, @noelhermanss

feat: switch to volta
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
  tools/volta.sh
Owners: @stijnvdkolk

feat: add default settings
  .vscode/settings.json
Owners: @stijnvdkolk

chore: cleanup .gitkeep files
  docker/.gitkeep
  tools/.gitkeep
Owners: @stijnvdkolk

feat: switch to volta
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
  tools/volta.sh
Owners: @stijnvdkolk

chore: cleanup .gitkeep files
  docker/.gitkeep
  tools/.gitkeep
Owners: @stijnvdkolk

feat: init docker and tools
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/docker-in-docker-debian.sh
  .env.example
  Makefile
  backend/Dockerfile
  backend/package.json
  docker/backend/docker-compose.yml
  docker/database/docker-compose.yml
  docker/database/postgres-init.sql
  docker/frontend/docker-compose.yml
  docker/staging/docker-compose.yml
  docker/staging/postgres-init.sql
  frontend/Dockerfile
  tools/scripts/compose-db.sh
  tools/scripts/compose-dev-min.sh
  tools/scripts/compose-dev.sh
  tools/scripts/compose-staging.sh
Owners: @stijnvdkolk, @Omajan1, @DonnaVolk, @Levidevtech, @noelhermanss

feat: add default settings
  .vscode/settings.json
Owners: @stijnvdkolk

Home page for not logged in people
  backend/package-lock.json
  backend/yarn.lock
  frontend/Images/background.jpg
  frontend/layouts/default.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/index.vue
  frontend/pages/jobs.vue
  frontend/pages/login.vue
  frontend/tsconfig.json
Owners: @stijnvdkolk, @Omajan1, @DonnaVolk, @Levidevtech, @noelhermanss

Zoekbar
  .gitignore
  frontend/layouts/default.vue
  package-lock.json
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

wqdadwd
  frontend/nuxt.config.js
  frontend/pages/home.vue
  frontend/pages/jobs.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

bug ofzo
  frontend/layouts/default.vue
  frontend/pages/jobs.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

build: switch to "docker from docker" instead of seperate docker stuff
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/docker-debian.sh
Owners: @stijnvdkolk

Update default.vue
  frontend/layouts/default.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

Revert "build: switch to "docker from docker" instead of seperate docker stuff"
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/docker-in-docker-debian.sh
Owners: @stijnvdkolk

account
  frontend/pages/account.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

Added screens place holders for
  .gitignore
  frontend/layouts/default.vue
  frontend/pages/home.vue
  frontend/pages/jobs.vue
  frontend/pages/notifications.vue
  frontend/pages/recommended.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

feat: add more stuff
  Makefile
  backend/package.json
  backend/src/lib/interfaces/auth/JwtPayload.ts
  backend/src/modules/App/app.controller.ts
  backend/src/modules/App/app.module.ts
  backend/src/modules/Auth/auth.controller.ts
  backend/src/modules/Auth/auth.module.ts
  backend/src/modules/Prisma/dbml/schema.dbml
  backend/src/modules/Prisma/migrations/20220601084535_user_useradress_tables/migration.sql
  backend/src/modules/Prisma/migrations/20220601092837_email_unique/migration.sql
  backend/src/modules/Prisma/migrations/migration_lock.toml
  backend/src/modules/Prisma/schema.prisma
  backend/src/modules/Prisma/seed.ts
  backend/src/modules/User/user.controller.ts
  backend/src/modules/User/user.module.ts
  backend/src/modules/User/user.service.ts
  backend/yarn.lock
  tools/volta.sh
Owners: @stijnvdkolk, @Omajan1

Update index.vue
  frontend/pages/index.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

code
  backend/package.json
  backend/src/decorators/CurrentUser.decorator.spec.ts
  backend/src/decorators/CurrentUser.decorator.ts
  backend/src/decorators/Roles.decorator.spec.ts
  backend/src/decorators/Roles.decorator.ts
  backend/src/decorators/index.spec.ts
  backend/src/decorators/index.ts
  backend/src/lib/interfaces/auth/index.spec.ts
  backend/src/main.ts
  backend/src/modules/App/app.module.ts
  backend/src/modules/Argon2/argon2.module.ts
  backend/src/modules/Auth/dto/sign-in.dto.ts
  backend/src/modules/Auth/guards/auth.guard.ts
  backend/src/modules/Prisma/prisma.module.ts
  backend/src/modules/Prisma/seed.ts
  backend/src/modules/User/user.controller.ts
  backend/src/modules/User/user.service.ts
  backend/test/app.e2e-spec.ts
  backend/tsconfig.json
  backend/yarn.lock
Owners: @stijnvdkolk, @Omajan1

Buisness
  frontend/Images/logo.png
  frontend/layouts/default.vue
  frontend/pages/account_b.vue
  frontend/pages/home.vue
  frontend/pages/index.vue
  frontend/pages/login.vue
  frontend/pages/notifications_b.vue
  frontend/pages/recommended.vue
  frontend/pages/recommended_b.vue
  frontend/pages/signup.vue
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

update
  frontend/package-lock.json
Owners: @stijnvdkolk, @DonnaVolk, @Levidevtech, @noelhermanss, @Omajan1

Create README.md
  README.md
Owners: @stijnvdkolk
